.container {
    flex: 11;
    display: flex;
}

.container .social {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    text-align: center;
}

.container .social a i {
    font-size: 32px;
    color: #ffffff;
}

.container .main {
    flex: 7;
}

.container .main img {
    width: 100%;
    max-width: 1000px;
    margin-left: 150px;
}

@media (max-width: 1320px) {
    .container .main img {
        margin-top: 15%;
        max-width: 680px;
    }
}

@media (max-width: 980px) {
    .container {
        flex-direction: column-reverse;
    }
    .container .social {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .container .social a {
        margin: auto 0px;
    }
    .container .social a i {
        font-size: 64px;
    }
    .container .main {
        flex: 1;
    }
    .container .main img {
        max-width: 100%;
        margin-left: 50px;
    }
}