html,
body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

.navbar {
    flex: 1;
    font-family: "Rokkitt", serif;
    display: flex;
    justify-content: flex-end;
    margin: 10px 20px;
}

.navbar span {
    margin: auto;
    margin-left: 20px;
    font-size: 28px;
}

.navbar .navbar-button {
    margin: auto 10px;
    font-size: 20px;
    border: solid 1px #ffffff;
    padding: 10px;
}

.navbar .navbar-button:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: #000000;
}

@media only screen and (max-width: 980px) {
    .navbar span {
        font-size: 50px;
    }
    .navbar .navbar-button {
        font-size: 40px;
        margin: auto 15px;
    }
}