body {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

.navbar {
    font-family: "Rokkitt", serif;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.navbar span {
    margin-left: 10px;
    margin-right: auto;
    font-size: 28px;
}

.navbar .navbar-button {
    margin: auto 10px;
    font-size: 20px;
}

.navbar .navbar-button:hover {
    cursor: pointer;
}

.container {
    display: flex;
}

.container .social {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    text-align: center;
}

.container .social i {
    font-size: 32px;
    color: #ffffff;
}

.container .main {
    flex: 7;
}

.container .main img {
    width: 100%;
    max-width: 1000px;
    margin-left: 150px;
}