body {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

.navbar {
    font-family: "Rokkitt", serif;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.navbar span {
    margin-left: 10px;
    margin-right: auto;
    font-size: 28px;
}

.navbar .navbar-button {
    margin: auto 10px;
    font-size: 20px;
    border: solid 1px #ffffff;
    padding: 10px;
}

.navbar .navbar-button:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: #000000;
    
}