.mother {
    flex: 11;
    margin: 1rem;
    text-align: center;
}

.mother span {
    font-family: "Rokkitt", serif;
    font-size: 50px;
    text-decoration: underline;
}

.mother .projects {
    display: grid;
    grid-gap: 120px;
    grid-template-columns: repeat(4, 200px);
    justify-content: center;
    margin-top: 5%;
}

.mother .projects .preview {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.mother .projects .preview img {
    width: 200px;
    height: 130px;
}

.mother .projects .preview p {
    background-color: rgba(255, 255, 255, 1);
    color: black;
    margin: 0px;
    border-top: 1px solid black;
    width: 200px;
    font-family: "Rokkitt", serif;
    font-size: 20px;
}

@media only screen and (max-width: 980px) {
    .mother .projects {
        grid-template-columns: repeat(2, 200px);
    }
}